body * {
	margin: 0;
	padding: 0;
}

.header {
	background: url(../images/back.jpg) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 100vh;
	position: relative;
}
.header .logo {
	display: inline-block;
	padding: 10px 10px;
	color: #fff;
	font-size: 40px;
	font-family: "sanspro";
	margin-top: 10px;
	padding-left: 50px;
	text-shadow: 2px 2px #969696;
	float: left;
}
.header .logo a {
	text-decoration: none;
	color: #fff;
	text-shadow: 1px 1px #2B2B2B;
	transition: 0.3s;
}
.header .logo a:hover {
	text-shadow: 2px 1px #555555;
}
.header .menu ul {
	margin-top: 20px;
	float: right;
	display: inline-block;
}
.header .menu ul li{
	display: inline-block;
	padding: 10px 10px;
	color: #fff;
	font-size: 28px;
	font-family: "sanspro";
}
.header .menu li a {
	color: #fff;
	text-decoration: none;	
	padding: 4px 10px;
	transition: 0.1s;
}
.header .menu ul li a:hover {
	border-bottom: 1px solid #fff;
	color: #fff;
	text-shadow: 1px 1px #B7B7B7;
}
.header blockquote {
	font-size: 30px;
	color: #fff;
	text-shadow: 1px 1px #2B2B2B;
	border-left: none;
	font-family: "brocs";
	font-weight: bold;
	display: inline-block;
	position: absolute;
	bottom: 5px;
	right: 30px;
}
#author {
	font-size: 24px;
	float: right;
}

.hr {
	height: 1px;
	border: none;
	background: #B1B1B1;
	width: 80%;
	text-align: center;
	margin: 50px auto;
	margin-bottom: 0;
}

.about {
	height: 350px;
	width: 80%;
	float: right;
	margin-top: 30px;
	text-align: center;
}
.about img {
	margin: 20px auto;
}
.about h4 {
	margin: 10px auto;
}
.about a {
	text-decoration: none;
	color: #fff;
	text-shadow: 1px 1px #2B2B2B;
	transition: 0.3s;
}
.about a:hover {
	text-shadow: 2px 1px #555555;
}

/**/
/*PORTFOLIO*/
/**/

.portfolio {
	text-align: center;
	background: #E7E7E7;;
}

.portfolio h1 {
	font-family: "metaserif";
	margin: 0px auto;
	padding-top: 50px;
	text-align: center;
}
.portfolio .col-md-4 {
	margin: 10px auto;
}
.portfolio .divs {
	min-height: 550px;
	padding-top: 20px;
	padding-bottom: 0px;
}

/**/
/*SKILLS*/
/**/
.skills {
	background: #FEFEFE;
}
.skills h1 {
	font-family: "metaserif";
	font-weight: ;
	margin: 0px auto;
	padding-top: 50px;
	margin-bottom: 10px;
	text-align: center;
}
.skills h2 {
	font-family: "sanspro";
	margin: 20px auto;
	text-align: center;
}
.skills ul {
	margin: 20px auto;
	margin-bottom: 50px;
	text-align: center;
}
.skills ul li {
	font-family: "sanspro";
	font-size: 18px;
	list-style-type: none;
	padding: 3px 20px;
}
.skills h3 {
	text-align: center;
	font-family: "brocs";
	font-size: 30px;
}


/**/
/*HIRE*/
/**/
.hire {
	text-align: center;
	background: #E7E7E7;
	position: relative;
}
.hire .col-md-4 {
	margin: 30px auto;
}
.hire h1 {
	font-family: "metaserif";
	margin: 0px auto;
	padding-top: 50px;
	margin-bottom: 30px;
	text-align: center;
}
.hire img {
	margin-bottom: 20px;
}
.hire a {
	text-decoration: none;
	color: #FE904E;
	text-shadow: 1px 1px #F5F5F5;
	cursor: pointer;
}
.hire h2 {
	font-family: "brocs";
	font-size: 40px;
	margin-top: 50px;
}
.hire h4 {
	font-size: 16px;
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
}

/*MOBILE*/
@media screen and (max-width: 1200px) and (min-width: 991px){
	.block {
		max-width: 250px;
		min-height: 550px;
		padding: 20px 10px;
		margin: 10px 10px;
		overflow: hidden;
		clear: both;
	}
	.first {
	float: none;
	}
	.second {
		float: none;
	}
	.third {
		float: none;
	}
	.about .me-text h3 {
	font-size: 18px;
}
.header .menu ul li{
	padding: 10px 5px;
}
}

@media screen and (max-width: 1160px) {
	.header .menu ul li{
	padding: 10px 3px;
	font-size: 22px;
}
}

@media screen and (max-width: 1000px) {
	.header {
		text-align: center;
	}
	.header .logo {
		display: inline-block;
		float: none;
		text-align: center;
		padding: 0px;
	}
	.header .menu ul {
	margin-top: 20px;
	float: none;
	display: inline-block;
}
	.header .menu ul li{
	padding: 10px 3px;
	font-size: 24px;
	text-shadow: 1px 1px #969696;
	float: left;
}
.header blockquote {
	margin-top: 10px;
}
}



@media screen and (max-width: 991px) {
	.block {
		max-width: 100%;
		min-height: 400px;
}
	.about .me-text h3 {
		font-size: 20px;
		text-align: center;
	}
	.avatar img {
		margin-top: 20px;
		max-width: 30%;
	}
	.header .menu ul {
	float: none;
	display: inline;
}
.header .menu ul li {
	float: none;
}
.header blockquote {
	float: none;
	text-align: center;
	margin: 50px auto;
	padding: 0px;
}
}
@media screen and (max-width: 555px) and (min-width: 449px){
	.header .menu ul li{
		padding: 5px 16px;
		font-size: 28px;
	}
}
@media screen and (max-width: 600px) and (min-width: 470px){
	.block {
		max-width: 100%;
		min-height: 450px;
	}
}
@media screen and (max-width: 470px) {
	.block {
		max-width: 100%;
		min-height: 500px;
	}
}
@media screen and (max-width: 400px) {
	.block {
		max-width: 100%;
		min-height: 550px;
	}
}